.container {
    width: 90%;
    margin: 0 auto;
}

.spacer {
    padding: 25px 0;
}

.time_table {
    width: 90%;
    margin: 0 auto;
}

.time_table tr {
    padding: 25px 0;
}

.time_table .frequency,
.time_table .time_to_crack {
    text-align: left;
}

.time_table .reference {
    text-align: right;
}

.password_input_container {
    width: 90%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.password_input_container .password_input {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    border: none;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 10px 15px;
    background-color: #290025;
    color: #FAFAFA;
    font-size: 1.1em;
}

.password_input_container .password_input:focus {
    outline: none;
}

.password_results {
    text-align: center;
}

.credits {
    padding-top: 50px;
    text-align: right;
    color: #BABABA;
    font-weight: 400;
    width: 90%;
    margin: 0 auto;
}

.credits a {
    font-weight: 600;
    color: #CCC;
}